<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Clicar</string>
	<key>CFBundleIdentifier</key>
	<string>com.companyname.Clicar</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>Clicar</string>
	<key>NSCameraUsageDescription</key>
	<string>Se requiere acceso a la Cámara</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Se requiere acceso a la Galería</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Se requiere acceso al Micrófono</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Se requiere acceso a la Galería</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Tipo de documento 1</string>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-SemiBold.ttf</string>
	</array>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Permite obtener la sucursal mas cercana.</string>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.genesys.cl</key>
			<dict>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.0</string>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>



</dict>
</plist>
